/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
  }
  
  /* Reiknum stærð á öllum boxum sem border-box */
  html {
    box-sizing: border-box;
  }
  /* og látum erfast á allt */
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* hjálpar class sem felur sjónrænt en skjálesarar lesa */
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  @font-face {
    font-family: 'Lora';
    font-style: 'normal';
    font-weight: 400;
    src: url();
  }
  
  h1,
  h2,
  h3 {
    font-weight: bolder;
  }

  header {
    display: block;
    width: 100%;

    background-color: #2f0505;
  
    border-bottom: 8px solid #2f0505;
    border-top: 8px solid #2f0505;

    text-align: center;
    color: #fff1cf; 
  }

  a {
    color: #2f0505;
    font-weight: 800;
  }

  nav {
    border-top: 8px solid #ffe7ae;
    border-bottom: 8px solid #fff9ee;
    background-color: #fff9ee;
  }

  nav ul {
    text-align: center;
   
  }

  nav ul li {
    display: inline;
    padding-right: 1rem;
  }

  nav ul li:last-child {
    padding-right: 0;
  }

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.top-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.bottom-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem; 
}



.Opnunartími,
.Um,
.Matseðill,
.Panta {
  width: calc(50% - 0.5rem); 
  padding: 1rem;
  text-align: left; 
}

.horizontal-line {
  width: 100%; 
  border-top: 1px solid #ffe7ae; 
  margin-top: 1rem; 
}

main2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
.section-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem; 
}
.section-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem; 
}


main h3 {
  text-align: left;
}

main .section {
  display: flex;
  flex-wrap: wrap;
}


main .item {
  flex: 1;
  
  margin-right: 20px;
}

main .item:last-child {
  text-align: left;
  margin-right: 0;
}


  footer{
    display: block;
    background-color: #2f0505;
    text-align: center;
    border-top: 8px solid #ffe7ae;
  }

  footer .content {
    color: #fff1cf;
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
  }

  footer .content .box{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    text-align: center;
  }

  th.scope-bold {
    font-weight: fat;
  }  

.table-container {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
}

table tbody tr:nth-child(even) {
  background-color: #ffe7ae;
}


table tbody tr:nth-child(odd) {
  background-color: white;
}


.forsida {
  margin-top: 20px; 
  margin-bottom: 20px;
  text-align: left; 
}

.employee-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.employee {
  display: inline-block;
  text-align: left;
}

.employee img {
  max-width: 100%;
}
